aiobotocore
aiohttp
aioitertools
async-timeout
attrs
boto3
botocore
chardet
click
dominate
Flask
Flask-Bootstrap
Flask-WTF
fsspec
idna
itsdangerous
Jinja2
jmespath
joblib
MarkupSafe
multidict
numpy
pandas
python-dateutil
pytz
s3fs
s3transfer
scikit-learn
scipy
six
threadpoolctl
typing-extensions
urllib3
visitor
Werkzeug
wrapt
WTForms
yarl
opencv-python
matplotlib
mahotas
pydot
