body {
    background-image: url('../Styles/images/v1_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title {
    display: block;
    position: absolute;
    bottom: 30%;
    right: 3%;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 128px;
    font-weight: normal;
    font-style: italic;
    color: #FFFFFF;
    text-align: right;
}

.description {
    display: block;
    position: absolute;
    bottom: 20%;
    right: 1%;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF;
    margin-left: 60%;
    text-align: left;
}

.next-button {
    position: absolute;
    bottom: 5%;
    right: 1%;
    background-color: rgba(97, 97, 97, 1); /* RGB 616161 at 100% opacity */
    color: #FFFFFF; /* RGB FFFFFF at 100% opacity */
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .title {
        display: block;
        position: absolute;
        bottom: 20%;
        right: 3%;
    }
    .description {
        display: block;
        position: absolute;
        bottom: auto;
        right: 20%;
        top: 50%;
        margin-top: 10px;
    }
    .next-button {
        position: absolute;
        bottom: auto;
        right: 20%;
        top: 70%;
        margin-top: 10px;
    }
}
