{% extends "base.html" %}

{% block content %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/indexstyle.css') }}">
</head>
<body>
    <div class="title">
        <t> Agro-Ai </t>
    </div>

    <div class="description">
        Educational Source for AI Usage in Agricultural Fields
    </div>

   <button class="first-button">
    <a href="aiExplained.html" style="text-decoration: none; color: #FFFFFF;">NEXT</a>
    </button>
    
    <div class="load-box">
        <div id="container">
            <div class="error-text" style="visibility:{{error_visibility}}">
                {{error_text}}
            </div>
            <br>
            <form method="POST">
                <div id="container">
                    <div class="load-box-sub">
                        <input type="text" id="token-enter" name="token-enter"></textarea>
                    </div>
                    <br>
                    <button class="load-button">
                        <a id="load-model-button" style="text-decoration: none; color: #FFFFFF;">LOAD TOKEN</a>
                    </button>
                </div>
            </form>
        </div>
    </div>

<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();

        $('.first-button').on('click', function () {
            $('.animated-icon1').toggleClass('open');
        });
        
        $('.load-button').on('click', function() {
        
        });

    });
    </script>

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    
</script>
</html>
{% endblock %}