{% extends "base.html" %}

{% block content %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/steps.css') }}">
</head>
<body>
    <div class="title">
         STEP 6: Field Testing
    </div>

    <div class="description">
    </div>
    
     <div class="content-box">
	 Differences between Testing and Field Testing:
	<ul>
	<li>Field testing is done in an uncontrolled environment, either in a direct usage case, or with data that wasn’t part of the original dataset</li>
	<li>It is used to see how the model would function with it’s expected workload, and see if the amount of data it would receive in X time too much for the model to handle, requiring multiple instances.</li>
	<li>It helps find any logistical issues or any final issues in the training, and can help determine the best way to gather new data for it to process, so that for instance, using a JPG instead of a PNG does not cause the model to give wrong predictions</li>
	</ul>
    </div>

   <button class="next-button">
    <a href="applicationExplained.html" style="text-decoration: none; color: #FFFFFF;">NEXT</a>
    </button>
    
    <button class="back-button">
    <a href="step5.html" style="text-decoration: none; color: #FFFFFF;">BACK</a>
    </button>
    
    <div class="dots-container">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="redot"></div>
    </div>
    
</body>
</html>
{% endblock %}